<% include fragments/header.ejs %>

	<h3>Cette page n'existe pas !</h3>

	<br><br>

	<p class="tac">
		<a href="/" class="button small"> Retour à l'accueil</a>
	</p>

<% include fragments/footer.ejs %>