<% include fragments/header.ejs %>


	<h3>Il n'existe pas de reprise pour la chanson <strong><%= titre %></strong> :(</h3>

	<br><br>

	<p class="tac">
		<a href="/" class="button"> Chercher une autre reprise</a>
	</p>

<% include fragments/footer.ejs %>