<!DOCTYPE html>
<html lang="fr">

	<head>

		<!-- Balises META -->
		<meta charset="UTF-8" />
  		<meta name="description" content="" />
  		<meta name="keywords" content="" />
   		<meta name="robots" content="index,follow" />
   		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title><%= title %></title>

   		<!-- CSS -->
   		<link rel="stylesheet" href="css/normalize.css" type="text/css" />
   		<link rel="stylesheet" href="css/foundation.min.css" type="text/css" />
   		<link rel="stylesheet" href="css/style.css" type="text/css" />
   		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" />

    	<!-- HTML5 pour IE6, IE7 et IE8 -->
   		<!--[if lt IE 9]>
        	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<!-- CSS3 pour IE6, IE7 et IE8 -->
    	<!--[if (gte IE 6)&(lte IE 8)]>
			<script type="text/javascript" src="https://raw.github.com/keithclark/selectivizr/master/selectivizr.js"></script>
		<![endif]-->


  	</head>

<body>

	<div class="page-wrap">

		<header>
			<h1><a href="/">MusicBrainz App'<strong> <small>Recherche de reprises en ligne</small></strong></a></h1>
		</header>

		<div id="content" class="row">